body{
    margin-top:20px;
    background:#ffffff;
    padding: 70px;
}

/*
    =================================
    CHAT ROOM
    =================================
*/

.roleBTN {
    background-color: #ffffff;
    color: rgb(129, 127, 127);
    padding: 7px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: grab;
    width: 100%;
}
.roleBTN:hover {
    opacity: 0.8;
}

.chat-room {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}


.chat-room aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.chat-room .kiri-side {
    width: 25%;
    /* height: 100px; */
    background: #e5e8ef;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}
.chat-room .tengah-side {
    width: 70%;
    background: #fff;
    border-right: 1px solid #e5e8ef;
}

/* .chat-room .kanan-side {
    width: 25%;
    background: #fff;
} */

.chat-room .kiri-side .user-head {
    background: #2980b9;
    color: #FFFFFF;
    min-height: 70px;
    padding: 5px;
}
.chat-room .kanan-side .user-head {
    background: #2980b9;
    color: #FFFFFF;
    min-height: 70px;
    padding:  5px;
    border-left: 1px solid #2980b9;
    margin-left: -1px;
    position: relative;
}


.chat-room .user-head i {
    float: left;
    font-size: 40px;
    margin-right: 10px;
}

.chat-room .user-head h3 {
    margin: 6px 0 0 0;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
}

.chat-room-head {
    background: #3498db;
    color: #FFFFFF;
    min-height: 70px;
    padding: 5px;
}

.chat-room-head h3 {
    margin: 7px 0 0 15px;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}

ul.chat-list li a {
    color: #6a6a6a;
    display: block;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
}
ul.chat-list li a:hover, ul.chat-list li.active a {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list li h4 {
    padding: 17px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #D5D7DE;
}

ul.chat-list li h4 i {
    padding-right: 5px;
}

ul.chat-list li a span {
    padding-left: 10px;
}

ul.chat-list li a i.fa-times {
    color: #9fa3b0;
}

ul.chat-list li.active {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list {
    border-bottom: 1px solid #d5d7de;
    padding-left: 0;
    list-style: none;
}

ul.chat-user  {
    margin-bottom: 200px;
}

ul.chat-user li {
    border-bottom: none;
}

ul.chat-user li a:hover{
    background: none;
    color: #6a6a6a;
}

.chat-room .kiri-side footer {
    background: #d5d7de;
    padding: 1.5%;
    height: 70px;
    width: 28%;
    position: absolute;
    bottom: 0;
}

.chat-room .tengah-side footer {
    background: #e5e8ef;
    padding: 1.5%;
    height: 70px;
    width: 70.75%;
    position: absolute;
    bottom: 0;
    border-right: 1px solid #E5E8EF;
}

/* .chat-room .kanan-side footer {
    background: #fff;
    padding: 15px;
    height: 70px;
    width: 50%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #E5E8EF;
} */

.chat-room .kiri-side footer .chat-avatar img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    float: left;
}

.chat-room .kiri-side footer .user-status {
    float: left;
    margin: 10px;
}

.chat-room .kiri-side footer .user-status i {
    padding-right: 5px;
}

.chat-room .left-side footer a.chat-dropdown {
    background: #96979a;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    margin-top: 10px;
    padding: 3px 5px;
}

.group-rom {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eaebee;
}

.group-rom .first-part,
.group-rom .second-part,
.group-rom .third-part {
    float: left;
    /* padding: 15px; */
}

.group-rom .first-part {
    width: 25%;
}

.group-rom .first-part.odd {
    background: #f7f8fa;
    color: #6a6a6a;
    font-weight: 600;
}

.group-rom .second-part{
    width: 60%;
}

.group-rom .third-part{
    width: 15%;
    color: #d4d3d3;
}


a.guest-on {
    color: #6a6a6a;
    margin-top: 8px;
    display: inline-block;
}

a.guest-on i {
    background: #40cabe;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 5px;
}

.chat-txt {
    float: left;
    width: 100%;
    margin-right: 0px;
}

.lobby {
    padding: 0 !important;
}

.hide{
    display:none;
}
.show{
    display:block;   
}

.example-viewport {
    min-height: 600px;
    /* max-height: 800px; */
    /* height: 100%; */
    width: 100%;
}

.chat-avatar img {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    float: left;
}

h1 {
    margin: 7px 0 0 15px;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
}