<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey.com">
<body>
<div class="row">
    <div class="col-md-12">
        <!-- start:chat room -->
        <div class="box">
            <div class="chat-room">
            <!-- start:aside kiri chat room -->
            <aside class="kiri-side">
                <div class="user-head">
                    <i class="fa fa-comments-o"></i>
                    <h3>Color Chat</h3>
                </div>
                <ul class="chat-list" style="padding-bottom: 100px;">
                    <li (click)="groupsToggle()">
                        <a>
                            <h4>
                                <i class="fa fa-list"></i>
                                GROUPS
                            </h4>
                        </a>
                    </li>
                    <div id="groupDiv" class="hide" [ngClass]="toggleGroups ? 'hide' : 'show'">
                        <li *ngFor="let group of groups" [ngClass]="{'selected':true}" (click)="onSelectGroup(group)">
                            <a>
                                <i class="fa fa-rocket"></i>
                                <span>{{group.name}}</span> 
                            </a>
                        </li>
                    </div>
                    <div>
                        <li id="roomli" name="roomli" (click)="roomsToggle()">
                            <a>
                                <h4>
                                    <i class="fa fa-list"></i>
                                    ROOMS
                                </h4>
                            </a>
                        </li>
                    </div>
                    <div id="roomDiv" name="roomDiv" class="hide" [ngClass]="toggleRooms ? 'hide' : 'show'">
                        <li *ngFor="let room of rooms" [ngClass]="{'selected':true}" (click)="onSelectRoom(room)">
                            <a>
                                <i class="fa fa-circle text-success"></i>
                                <span>{{room.name}}</span> 
                            </a>
                            <ul *ngFor="let user of users">
                                <li *ngIf="room.roomID == user.roomID"><span>{{user.uname}}</span></li>
                            </ul>
                        </li>
                    </div>
                </ul>
                <footer>
                    <a class="chat-avatar" href="#javascript:;">
                        <img alt="" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </a>
                    
                    <div class="user-status">
                        <i class="fa fa-circle text-success"></i>
                        {{userName}}
                    </div>
                </footer>
            </aside>
            <!-- end:aside kiri chat room -->

            <!-- start:aside tengah chat room -->
            <aside class="tengah-side">
                <div class="chat-room-head"> 
                    <h3>{{Header}}</h3>
                    <form class="pull-right position">
                        <button class="roleBTN" [ngClass]="toggleRole ? 'hide' : 'show'" type="submit" (click)="roleOptions()"><strong>{{userRole}} Options</strong></button>
                    </form>
                </div>
                <cdk-virtual-scroll-viewport [itemSize]="18 * 3" class="example-viewport">
                    <span *ngFor="let message of messages" class="hide" [ngClass]="toggleChat ? 'hide' : 'show'">
                        <div class="group-rom">
                            <div class="first-part odd">{{message.userName}}</div>
                            <div class="second-part">{{message.message}}</div>
                            <div class="third-part">{{message.dateTime}}</div>
                        </div>
                    </span>
                </cdk-virtual-scroll-viewport>
                <img src="images/{{imagePath}}">
                <!--<div class="group-rom">
                    <div class="first-part odd">Jonathan Smith</div>
                    <div class="second-part">Hello Cendy are you there?</div>
                    <div class="third-part">12:30</div>
                </div>
                <div class="group-rom">
                    <div class="first-part">Cendy Andrianto</div>
                    <div class="second-part">Yoman Smith. Please proceed</div>
                    <div class="third-part">12:31</div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">Jonathan Smith</div>
                    <div class="second-part">I want to share a file using chatroom</div>
                    <div class="third-part">12:32</div>
                </div>
                <div class="group-rom">
                    <div class="first-part">Cendy Andrianto</div>
                    <div class="second-part">oh sure. please send</div>
                    <div class="third-part">12:32</div>
                </div>
                <div class="group-rom">
                    <div class="first-part odd">Jonathan Smith</div>
                    <div class="second-part"><a href="##">search_scb_dialog.jpg</a> <span class="text-muted">46.8KB</span> <p>
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-responsive"></p></div>
                    <div class="third-part">12:32</div>
                </div>
                <div class="group-rom">
                    <div class="first-part">Cendy Andrianto</div>
                    <div class="second-part">Fantastic job, love it :)</div>
                    <div class="third-part">12:32</div>
                </div>-->
                <footer class="group-rom">
                    <div class="chat-txt">
                        <input type="text" style="margin-right: 2em;" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
                        <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile"/>
                        <br/>
                        <button type="button" class="btn btn-danger" (click)="chat()">Send</button>
                    </div>
                </footer>
            </aside>
            <!-- end:aside tengah chat room -->
            </div>
        </div>
        <!-- end:chat room -->
    </div>
</div>
</body>
</div>