<html>
  <title>ACCOUNT</title>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="account_script.js"></script>
  </head>
  <body>
    <div class="formcontainer">
        <form id="accountform">
        <h2>Group Assistant Page</h2>
        <div class="icon">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">    
        </div>
        <div class="container">
            <div class="row">
            <label style="font-size:18px;"><strong>Selected Group:    </strong></label>
            <label style="font-size:18px;"><strong> {{data.groupName}}   </strong></label>
            </div>
            <hr>
            <form #myForm="ngForm" (ngSubmit)="myForm.resetForm()">
                <div class="row">
                    <label><strong>Create New Channel</strong></label><br>
                    <button type="submit" (click)="create_channel()" style="float: right"><strong>CREATE CHANNEL</strong></button>
                    <div style="overflow: hidden; padding-right: .5em;">
                        <input type="text" id="channelName" name="channelName" style="width: 100%;" placeholder="Channel Name" required="required" [(ngModel)]="data.roomName">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <label><strong>Invite or Remove User</strong></label><br>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg groups" name="channel_select" id="channel_select" [(ngModel)]="selectedRoom">
                        <option *ngFor="let item of rooms" [ngValue]="item">{{item.name}}</option>
                    </select>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg groups" style="float: right" name="user_select" id="user_select" [(ngModel)]="selectedUser">
                        <option *ngFor="let item of users" [ngValue]="item">{{item.uname}}</option>
                    </select>
                    <button type="submit" (click)="ivite_user()"><strong>INVITE USER</strong></button>
                    <button type="submit" style="float: right;" (click)="remove_user()"><strong>REMOVE USER</strong></button>
                </div>
                <hr>
            </form>
        </div>
        <button type="submit" (click)="return()"><strong>RETURN</strong></button>
      <div id="test"></div>

