<html>
  <title>ACCOUNT</title>
  <head>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="account_script.js"></script>
  </head>
  <body>
    <div class="formcontainer">
    <form id="accountform">
      <h2>Group Admin Page</h2>
      <div class="icon">
        <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">    
      </div>
      <div class="container">
        <div class="row">
          <label><strong>Create New Group</strong></label><br>
          <button type="submit" (click)="create_group()" style="float: right"><strong>CREATE</strong></button>
          <div style="overflow: hidden; padding-right: .5em;">
            <input class="value" id="groupName" name="groupName" style="width: 100%;" placeholder="Group Name" required="required" [(ngModel)]="data.groupName">
          </div>
        </div>
        <hr>
        <div class="row">
          <label><strong>Remove Group</strong></label><br>
          <button type="submit" (click)="remove_group()" style="float: right"><strong>REMOVE</strong></button>
          <div style="overflow: hidden; padding-right: .5em;">
            <select class="form-select form-select-lg mb-3" style="width: 100%;" aria-label=".form-select-lg groups" name="group_select" id="group_select" [(ngModel)]="selectedGroup">
              <option *ngFor="let item of groups" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">
          <label for="mail"><strong>Groups Management Page</strong></label><br>
          <button type="submit" (click)="group_management()" style="width: 100%;"><strong>GROUPS MANAGEMENT</strong></button>
        </div>
        <hr>
      </div>
      <button type="submit" (click)="return()"><strong>RETURN</strong></button>
      <div id="test"></div>

